# Django settings module.
# Dev default in manage.py: base_hermes.settings.dev
# For production use: base_hermes.settings.prod
DJANGO_SETTINGS_MODULE=base_hermes.settings.dev

# Security
SECRET_KEY=change-me
DEBUG=True

# Hosts and CORS/CSRF (comma-separated)
ALLOWED_HOSTS=127.0.0.1,localhost,192.168.100.30
CORS_ALLOW_ALL_ORIGINS=False
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
CSRF_TRUSTED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
